$positive: #86B300;
$negative: #e06c75;
$cash_amount_limit: 0;

.o_field_widget[name="cash_on_hand"] {
  color: $positive;
}

.o_field_widget[name="petty_cash_management_id"] {
 width: 40%;
 font-size: small;
}

.o_list_renderer .o_list_table tbody > tr > td[name="petty_cash_states"] {
    &.draft {
        color: blue;
    }

    &.closed {
        color: green;
    }

    &.open {
        color: red;
    }
}
